# Tabular Data Lesson

In [7]:
import os
import numpy as np

In [8]:
#help(np.genfromtxt)

In [16]:
distanceFile = os.path.join('data', 'distance_data_headers.csv')
#distances = np.genfromtxt(fname=distanceFile, delimiter=',', skip_header=1)
distances = np.genfromtxt(fname=distanceFile, delimiter=',', dtype='unicode')

In [17]:
print(distances)

[['Frame' 'THR4_ATP' 'THR4_ASP' 'TYR6_ATP' 'TYR6_ASP']
 ['1' '8.9542' '5.8024' '11.5478' '9.9557']
 ['2' '8.6181' '6.0942' '13.9594' '11.6945']
 ...
 ['9998' '8.6625' '7.7306' '9.5469' '10.3063']
 ['9999' '9.2456' '7.8886' '9.8151' '10.7564']
 ['10000' '8.8135' '7.917' '9.9517' '10.7848']]

In [20]:
headers = distances[0]
print(headers)

['Frame' 'THR4_ATP' 'THR4_ASP' 'TYR6_ATP' 'TYR6_ASP']

In [25]:
data = distances[1:]
print(data)

[['1' '8.9542' '5.8024' '11.5478' '9.9557']
 ['2' '8.6181' '6.0942' '13.9594' '11.6945']
 ['3' '9.0066' '6.0637' '13.0924' '11.3043']
 ...
 ['9998' '8.6625' '7.7306' '9.5469' '10.3063']
 ['9999' '9.2456' '7.8886' '9.8151' '10.7564']
 ['10000' '8.8135' '7.917' '9.9517' '10.7848']]

In [29]:
print(data[0,1])   # To access data in arrays you use this notation.

8.9542

In [33]:
smallData = data[0:10,0:3]   # Slices of arrays use two index ranges
print(smallData)
uselessData = data[:,:]   # Colon gets everything

[['1' '8.9542' '5.8024']
 ['2' '8.6181' '6.0942']
 ['3' '9.0066' '6.0637']
 ['4' '9.2002' '6.0227']
 ['5' '9.1294' '5.9365']
 ['6' '9.0462' '6.2553']
 ['7' '8.8657' '5.9186']
 ['8' '9.3256' '6.2351']
 ['9' '9.4184' '6.1993']
 ['10' '9.06' '6.0478']]

In [44]:
thr4_atp = data[:,1].astype(np.float)
avg_thr4_atp = np.mean(thr4_atp)
print(avg_thr4_atp)

10.876950930000001

In [51]:
numColumns = len(headers)
for i in range(1, numColumns):
    column = data[:,i].astype(np.float)   # Loop over columns, using i.
    avgColumn = np.mean(column)
    print(F'{headers[i]} : {avgColumn:.3f}')

THR4_ATP : 10.877
THR4_ASP : 7.342
TYR6_ATP : 11.210
TYR6_ASP : 10.993